{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
<section class="hero-wrap">
	<div class="home-slider owl-carousel js-fullheight">
		<div class="slider-item js-fullheight" style="background-image:url({% static 'fronted/images/bg_1.jpg' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate">
						<div class="text w-100 mt-5 text-center">
							<span class="subheading">Taste.it Restaurant</h2></span>
							<h1>Cooking Since</h1>
							<span class="subheading-2">1958</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item js-fullheight" style="background-image:url({% static 'fronted/images/bg_2.jpg' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
					<div class="col-md-12 ftco-animate">
						<div class="text w-100 mt-5 text-center">
							<span class="subheading">Taste.it Restaurant</h2></span>
							<h1>Best Quality</h1>
							<span class="subheading-2 sub">Food</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
					<form method="post">
						{% csrf_token %}
						<h3 class="mb-3">Book your Table</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="name" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" name="email" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="phone" class="form-control" placeholder="Phone">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-wrap">
										<div class="icon"><span class="fa fa-calendar"></span></div>
										<input type="text"  name="check_in" class="form-control book_date" placeholder="Check-In">
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-wrap">
										<div class="icon"><span class="fa fa-clock-o"></span></div>
										<input type="text" name="time" class="form-control book_time" placeholder="Time">
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="guest" id="" class="form-control">
												<option value="" >Guest</option>
												<option value="">1</option>
												<option value="">2</option>
												<option value="">3</option>
												<option value="">4</option>
												<option value="">5</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Book Your Table Now" class="btn btn-white py-3 px-4">
								</div>
							</div>
						</div>
					</form>
						<!-- <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
  						<span class="ion-ios-play"></span>
  					</a> -->
  				</div>
  				<div class="col-sm-8 wrap-about py-5 ftco-animate img" style="background-image: url({% static 'fronted/images/about.jpg' %});">
  					<div class="row pb-5 pb-md-0">
  						<div class="col-md-12 col-lg-7">
  							<div class="heading-section mt-5 mb-4">
  								<div class="pl-lg-3 ml-md-5">
  									<span class="subheading">About</span>
  									<h2 class="mb-4">Welcome to Taste.it</h2>
  								</div>
  							</div>
  							<div class="pl-lg-3 ml-md-5">
  								<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
									<!-- <div class="thumb my-4 d-flex">
			            	<a href="#" class="thumb-menu pr-md-4 text-center">
			            		<div class="img" style="background-image: url(images/lunch-4.jpg);"></div>
			            		<h4>Australian Organic Beef</h4>
			            	</a>
			            	<a href="#" class="thumb-menu pr-md-4 text-center">
			            		<div class="img" style="background-image: url(images/lunch-7.jpg);"></div>
			            		<h4>Australian Organic Beef</h4>
			            	</a>
			            	<a href="#" class="thumb-menu pr-md-4 text-center">
			            		<div class="img" style="background-image: url(images/lunch-6.jpg);"></div>
			            		<h4>Australian Organic Beef</h4>
			            	</a>
			            </div> -->
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</section>

<section class="ftco-section ftco-intro" style="background-image: url({% static 'fronted/images/bg_3.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>Now Booking</span>
				<h2>Private Dinners &amp; Happy Hours</h2>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Specialties</span>
				<h2 class="mb-4">Our Menu</h2>
			</div>
		</div>
		<div class="row">
			{% for men in menu%}
			<div class="col-md-6 col-lg-4">
				<div class="menu-wrap">

					<div class="heading-menu text-center ftco-animate">
						<h3>{{men.name}}</h3>
					</div>
					{% for prod in products %}
			        {% if prod.menu_id == men.id %}
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(/media/{{prod.image}});"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>{{prod.title}}</h3>
								</div>
								<div class="one-forth">
									<span class="price">${{prod.price}}</span>
								</div>
							</div>
							<p>{{prod.description}}</p>
						</div>
					</div>


				{% endif %}
				{% endfor %}
			</div>
			</div>

			{% endfor %}

		</div>
	</div>

</section>

<section class="ftco-section testimony-section" style="background-image: url({% static 'fronted/images/bg_5.jpg' %});">
 <div class="overlay"></div>
 <div class="container">
  <div class="row justify-content-center mb-3 pb-2">
    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
     <span class="subheading">Testimony</span>
     <h2 class="mb-4">Happy Customer</h2>
   </div>
 </div>
 <div class="row ftco-animate justify-content-center">
  <div class="col-md-7">
    <div class="carousel-testimony owl-carousel ftco-owl">
      {% for about in abouts %}
      <div class="item">
        <div class="testimony-wrap text-center">
          <div class="text p-3">
            <p class="mb-4">{{ about.description}}</p>
            <div class="user-img mb-4" style="background-image: url(/media/{{about.image}})">
             <span class="quote d-flex align-items-center justify-content-center">
               <i class="fa fa-quote-left"></i>
             </span>
           </div>
           <p class="name">{{about.namea}}</p>
           <span class="position">Customer</span>
         </div>
       </div>
     </div>
     {% endfor %}
      </div>
  </div>
 </div>
 </div>
 </section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Chef</span>
				<h2 class="mb-4">Our Master Chef</h2>
			</div>
		</div>
		<div class="row">
			{% for chef in chefs %}
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img" style="background-image: url(/media/{{chef.image}});"></div>
					<div class="text px-4 pt-2">
						<h3>{{chef.name}}</h3>
						<span class="position mb-2">{{chef.degree}}</span>
						<div class="faded">
							<p>{{chef.description}}</p>
							<ul class="ftco-social d-flex">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
 <div class="container">
	 {% for word in var %}
  <div class="row d-flex">
    <div class="col-md-6 d-flex">
     <div class="img img-2 w-100 mr-md-2" style="background-image: url({{word.image1}});"></div>
     <div class="img img-2 w-100 ml-md-2" style="background-image: url({{word.image2}});"></div>
   </div>
   <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
     <div class="heading-section ftco-animate mb-5">
      <span class="subheading">This is our secrets</span>
      <h2 class="mb-4">{{word.title}}</h2>
      <p>{{word.desc}}
      </p>
      <p><a href="{% url 'our' %}" class="btn btn-primary">Learn more</a></p>
    </div>
  </div>
 </div>
{% endfor %}
</div>
</section>

<section class="ftco-section bg-light">
 <div class="container">
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4 ftco-animate">
      <div class="blog-entry">
        <a href="blog-single.html" class="block-20" style="background-image: url('/media/{{blog.image}}');">
        </a>
        <div class="text px-4 pt-3 pb-4">
          <div class="meta">
            <div><a href="#">{{blog.created_at}}</a></div>
            <div><a href="#">Admin</a></div>
          </div>
          <h3 class="heading"><a href="#">{{blog.description}}</a></h3>
          <p class="clearfix">
            <a href="#" class="float-left read btn btn-primary">Read more</a>
            <a href="#" class="float-right meta-chat"><span class="fa fa-comment"></span> 3</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row no-gutters my-5">
    <div class="col text-center">
      <div class="block-27">
        <ul>
          <li><a href="#">&lt;</a></li>
          <li class="active"><span>1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&gt;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
	<div class="container py-5">
		<div class="row py-2">
			<div class="col-md-12 text-center">
				<h2>We Make Delicious &amp; Nutritious Food</h2>
				<a href="{% url 'blog' %}" class="btn btn-white btn-outline-white">Book A Table Now</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}