{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Menu List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Menu List</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">

                <div class="card-tools">
                    <a href="{% url 'menu_add' %}"><div class="btn btn-block btn-success">Add</div></a>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Name</th>
                      <th>Created_at</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for menu in menus %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ menu.name }}</td>
                      <td>{{ menu.created_at }}</td>
                      <td><a href="{% url 'menu_edit' pk=menu.id %}"><div class="btn btn-block btn-primary">Edit</div></a></td>
                      <td><a href="{% url 'menu_delete' pk=menu.id %}"><div class="btn btn-block btn-danger">Delete</div></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}